body{ 
   
}

#barbearia{
    background-image: url("./barbearia.png");
    width: 100%;
    height: 300px;
    background-size: contain;
}

.principal{
     background-color: #CCCCCC;
     padding: 30px;  
}

.titulo-principal{
    padding-left: 20px;
}    

.titulo-centralizado{
    text-align: center
}    

    p{
        text-align: center;
}

#missao{
    font-size: 20px
}    

em strong{
    color: red
} 

.itens{
    font-style: italic;
}

.beneficios{
    background-color: white;
    padding: 20pxs;
}

ul{
    display: inline-block;
    vertical-align:top ;
    width: 20%;
    margin-right: 15%;
    font-size: 20px;    
}    

.imagenbeneficios{
    width:50% ;
}    